In [1]:
import pandas as pd
from tqdm import tqdm_notebook 
import numpy as np 

import glob
import os

In [2]:
data_dir = '../data'
!ls $data_dir

db        interim   processed raw       raw_new

In [3]:
raw_dir = data_dir+'/raw/openaq'

In [4]:
first_csv = glob.glob(raw_dir+'/*.csv')[0]
df = pd.read_csv(first_csv, parse_dates=True)
df.head()

,location,city,country,utc,local,parameter,value,unit,latitude,longitude,attribution
0,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,so2,4.9,Âµg/mÂ³,28.6683,77.1167,NaN
1,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,pm25,25.0,Âµg/mÂ³,28.6683,77.1167,NaN
2,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,pm10,56.0,Âµg/mÂ³,28.6683,77.1167,NaN
3,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,o3,13.9,Âµg/mÂ³,28.6683,77.1167,NaN
4,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,no2,17.8,Âµg/mÂ³,28.6683,77.1167,NaN

In [5]:
df.head()

,location,city,country,utc,local,parameter,value,unit,latitude,longitude,attribution
0,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,so2,4.9,Âµg/mÂ³,28.6683,77.1167,NaN
1,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,pm25,25.0,Âµg/mÂ³,28.6683,77.1167,NaN
2,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,pm10,56.0,Âµg/mÂ³,28.6683,77.1167,NaN
3,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,o3,13.9,Âµg/mÂ³,28.6683,77.1167,NaN
4,Punjabi Bagh,Delhi,IN,2015-06-29T00:30:00.000Z,2015-06-29T06:00:00+05:30,no2,17.8,Âµg/mÂ³,28.6683,77.1167,NaN

In [6]:
df[df['city'] == 'Amsterdam']

Empty DataFrame
Columns: [location, city, country, utc, local, parameter, value, unit, latitude, longitude, attribution]
Index: []

**TODO**: Get this into a database

In [7]:
csvs = glob.glob(raw_dir+'/*.csv')
df_ams_list = []
for csv in tqdm_notebook(csvs):
    df = pd.read_csv(csv)
    if 'city' not in df.columns:
        continue
        
    cond = df['city'] == 'Amsterdam'
    if cond.any():
        df_ams_list.append(df[cond])

HBox(children=(IntProgress(value=0, max=1199), HTML(value='')))

In [8]:
len(df_ams_list)

976

In [9]:
df_ams = pd.concat(df_ams_list)

In [10]:
len(df_ams)

776212

In [11]:
df_ams = df_ams.set_index('local')
df_ams.index = pd.to_datetime(df_ams.index)

In [12]:
df_ams.head()

,location,city,country,utc,parameter,value,unit,latitude,longitude,attribution
local,,,,,,,,,,
2015-09-14 04:00:00,Amsterdam-Van Diemenstraat,Amsterdam,NL,2015-09-14T04:00:00.000Z,no2,16.2,Âµg/mÂ³,52.3900,4.88781,"[{""name"":""RIVM"",""url"":""http://www.lml.rivm.nl/..."
2015-09-14 04:00:00,Amsterdam-Kantershof (Zuid Oost),Amsterdam,NL,2015-09-14T04:00:00.000Z,no2,9.3,Âµg/mÂ³,52.3207,4.98840,"[{""name"":""RIVM"",""url"":""http://www.lml.rivm.nl/..."
2015-09-14 04:00:00,Amsterdam-Vondelpark,Amsterdam,NL,2015-09-14T04:00:00.000Z,no2,9.6,Âµg/mÂ³,52.3597,4.86621,"[{""name"":""RIVM"",""url"":""http://www.lml.rivm.nl/..."
2015-09-14 04:00:00,Amsterdam-Haarlemmerweg,Amsterdam,NL,2015-09-14T04:00:00.000Z,no2,23.6,Âµg/mÂ³,52.3854,4.87575,"[{""name"":""RIVM"",""url"":""http://www.lml.rivm.nl/..."
2015-09-14 04:00:00,Amsterdam-Oude Schans,Amsterdam,NL,2015-09-14T04:00:00.000Z,no2,11.0,Âµg/mÂ³,52.3721,4.90440,"[{""name"":""RIVM"",""url"":""http://www.lml.rivm.nl/..."

In [13]:
df_ams.to_csv('../data/interim/aq_amsterdam.csv')